Package: com.iky1e.swipeselection
Name: SwipeSelection
Depends: mobilesubstrate
Version: 1.4.0
Architecture: iphoneos-arm
Description: Swipe along the keyboard to move the cursor and select text.
Maintainer: Kyle Howells
Author: Kyle Howells
Section: Tweaks
